@font-face {
  font-family: 'tofino';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Tofino/Tofino-Regular.woff') format('woff'), url('/fonts/Tofino/Tofino-Regular.woff') format('woff'), local('tofino');
}

@font-face {
  font-family: 'tofino';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/Tofino/Tofino-Medium.woff') format('woff'), url('/fonts/Tofino/Tofino-Medium.woff') format('woff'), local('tofino');
}

@font-face {
  font-family: 'tofino';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/Tofino/Tofino-Medium.woff') format('woff'), url('/fonts/Tofino/Tofino-Medium.woff') format('woff'), local('tofino');
}

@font-face {
  font-family: 'tofino';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/Tofino/Tofino-Bold.woff') format('woff'), url('/fonts/Tofino/Tofino-Bold.woff') format('woff'), local('tofino');
}

@font-face {
  font-family: 'tofino';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/Tofino/Tofino-Ultra.woff') format('woff'), url('/fonts/Tofino/Tofino-Ultra.woff') format('woff'), local('tofino');
}




/*@font-face {
  font-family: 'tofino';
  font-style: normal;
  font-weight: 100;
  src: local('tofino'), url('/fonts/Tofino/Tofino-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'tofino';
  font-style: normal;
  font-weight: 200;
  src: local('tofino'), url('/fonts/Tofino/Tofino-Light.otf') format('opentype');
}

@font-face {
  font-family: 'tofino';
  font-style: normal;
  font-weight: 300;
  src: local('tofino'), url('/fonts/Tofino/Tofino-Book.otf') format('opentype');
}

@font-face {
  font-family: 'tofino';
  font-style: normal;
  font-weight: 400;
  src: local('tofino'), url('/fonts/Tofino/Tofino-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'tofino';
  font-style: normal;
  font-weight: 500;
  src: local('tofino'), url('/fonts/Tofino/Tofino-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'tofino';
  font-style: normal;
  font-weight: 600;
  src: local('tofino'), url('/fonts/Tofino/Tofino-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'tofino';
  font-style: normal;
  font-weight: 700;
  src: local('tofino'), url('/fonts/Tofino/Tofino-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'tofino';
  font-style: normal;
  font-weight: 800;
  src: local('tofino'), url('/fonts/Tofino/Tofino-Black.otf') format('opentype');
}

@font-face {
  font-family: 'tofino';
  font-style: normal;
  font-weight: 900;
  src: local('tofino'), url('/fonts/Tofino/Tofino-Ultra.otf') format('opentype');
}*/