<?xml version="1.0" encoding="utf-8"?>
<SEOChecker version="1.10.4">
  <trigger triggerOnPublish="false" />
  <xmlSiteMap enabled="true" excludeUmbracoNaviHide="true" />
  <robotsTxt enabled="false" />
  <urlRewrite forcewwwUrls="False" useTrailingSlashProperty="true" />
  <redirectConfig storeDomain="false" storeQueryString="false" forwardQuerystring="true" redirectWhenNodeExists="false" urlHistoryTracking="true" />
  <documentTypeConfiguration />
  <permissions>
    <role name="writer" allowed="issues,notifications" />
    <role name="editor" allowed="redirectmanagement,validation,ignorelist,notifications" />
  </permissions>
  <emailConfiguration />
  <rootNodeSettings>
    <rootNode>
      <nodeId>1075</nodeId>
      <canonicalDomain>nahu.org</canonicalDomain>
      <robotsTxt><![CDATA[]]></robotsTxt>
      <languages />
    </rootNode>
    <rootNode>
      <nodeId>1907</nodeId>
      <canonicalDomain>hupac.org</canonicalDomain>
      <robotsTxt><![CDATA[]]></robotsTxt>
      <languages />
    </rootNode>
    <rootNode>
      <nodeId>1890</nodeId>
      <canonicalDomain>nahueducationfoundation.org</canonicalDomain>
      <robotsTxt><![CDATA[]]></robotsTxt>
      <languages />
    </rootNode>
    <rootNode>
      <nodeId>69825</nodeId>
      <canonicalDomain>videos.nahu.org</canonicalDomain>
      <robotsTxt><![CDATA[]]></robotsTxt>
      <languages>
        <language isoCode="en-US" nodeId="69825" />
      </languages>
    </rootNode>
  </rootNodeSettings>
  <validationConfig validateAltAttributesOnTemplate="false" metaDescriptionMinLength="50" metaDescriptionMaxLength="160" />
  <socialConfig>
    <enableFacebook>false</enableFacebook>
    <faceBookAppId></faceBookAppId>
    <enableTwitter>false</enableTwitter>
    <twitterAccount></twitterAccount>
  </socialConfig>
</SEOChecker>