@inherits Umbraco.Web.Mvc.UmbracoViewPage<List<NAHUvision.Models.NavLink>>



<nav class="grid-x grid-padding-x NavigationMinor show-for-large">
    <div class="medium-20 cell medium-text-right minorNavLinks">
        @{
            foreach (NAHUvision.Models.NavLink link in Model)
            {
                <a href="@link.Url" target="@(link.OpenInNewTab ? "_blank'":"_self")" >
                    <div>@link.Title</div>
                </a>
            }
        }
    </div>
    <div class="medium-4 cell text-right searchPnl">
        <div class="grid-x">
            <div class="medium-16 medium-offset-2 cell text-center">
                <input type="text" id="txbSearchFor" placeholder="SEARCH  MAIN  SITE">
            </div>
            <div class="medium-6 cell end text-left">
                <img alt="search" src="/images/common/icons/search.png" id="imgBtnSearch">
            </div>
        </div>
    </div>
</nav>



