@inherits Umbraco.Web.Mvc.UmbracoViewPage




<div class="pagination-page light-theme simple-pagination">
    <ul>
        <li class="disabled"><span class="current prev">Prev</span></li>
        <li class="active"><span class="current">1</span></li>
        <li><a href="#page-2" class="page-link">2</a></li>
        <li><a href="#page-3" class="page-link">3</a></li>
        <li><a href="#page-4" class="page-link">4</a></li>
        <li><a href="#page-2" class="page-link next">Next</a></li>
    </ul>
</div>