@inherits Umbraco.Web.Mvc.UmbracoViewPage



<div id="SearchPnl" class="grid-x">
    <div class="cell">
        <h3>Search Results for: &nbsp;&nbsp;<span id="lblSearchFor"></span></h3>
    </div>
</div>
