@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "TopLevel.cshtml";
}


@section headContent {}


<div>
    @{ Html.RenderPartial("/UserControls/SimpleBanner.ascx"); }
    @{ Html.RenderPartial("/UserControls/TextBlockLocked.ascx"); }
    @{ Html.RenderPartial("/UserControls/Quicklinks.ascx"); }
</div>


@section finalScripts {}