@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "TopLevel.cshtml";
}

@section headContent {}


@{ Html.RenderPartial("~/UserControls/Forms.ascx"); }
<div>
    @CurrentPage.GetGridHtml("bodyText", "Foundation5")
</div>


@section finalScripts {}