<div ng-controller="SingleDayEventController">
    <style type="text/css">
        .propertyItemContent div.table{/*display:table*/display:block}
        .propertyItemContent div.tableRow{display:table-row}
        .propertyItemContent div.tableCell{display:table-cell;padding-right:20px}
        .propertyItemContent div.tableCell:nth-child(1){padding-right:10px}
        
        .propertyItemContent select {width: inherit;}
    </style>

    <div class="propertyItemContent">
        <div class="table">
            <div class="tableRow">
                <div class="tableCell">
                    <input value="allDayEvent" type="checkbox" name="cbAllDayEvent" id="cbAllDayEvent" ng-model="event.cbAllDayEvent" ng-change="updated()">
                    <label for="cbAllDayEvent">All Day</label>
                </div>
            </div>
            <div class="tableRow">
                <div class="tableCell"><h5>FROM</h5></div>
                <div class="tableCell ">
                    <select name="ddlFromHour" id="ddlFromHour" ng-model="event.ddlFromHour" ng-change="updated()" ng-disabled="event.cbAllDayEvent">
                        <option value=""></option>
                        <option value="12AM">12AM</option>
                        <option value="1AM">1AM</option>
                        <option value="2AM">2AM</option>
                        <option value="3AM">3AM</option>
                        <option value="4AM">4AM</option>
                        <option value="5AM">5AM</option>
                        <option value="6AM">6AM</option>
                        <option value="7AM">7AM</option>
                        <option value="8AM">8AM</option>
                        <option value="9AM">9AM</option>
                        <option value="10AM">10AM</option>
                        <option value="11AM">11AM</option>
                        <option value="12PM">12PM</option>
                        <option value="1PM">1PM</option>
                        <option value="2PM">2PM</option>
                        <option value="3PM">3PM</option>
                        <option value="4PM">4PM</option>
                        <option value="5PM">5PM</option>
                        <option value="6PM">6PM</option>
                        <option value="7PM">7PM</option>
                        <option value="8PM">8PM</option>
                        <option value="9PM">9PM</option>
                        <option value="10PM">10PM</option>
                        <option value="11PM">11PM</option>

                    </select>
                </div>
                <div class="tableCell">
                    <select name="ddlFromMinute" id="ddlFromMinute" ng-model="event.ddlFromMinute" ng-change="updated()" ng-disabled="event.cbAllDayEvent">
                        <option value=""></option>
                        <option value=":00">:00</option>
                        <option value=":01">:01</option>
                        <option value=":02">:02</option>
                        <option value=":03">:03</option>
                        <option value=":04">:04</option>
                        <option value=":05">:05</option>
                        <option value=":06">:06</option>
                        <option value=":07">:07</option>
                        <option value=":08">:08</option>
                        <option value=":09">:09</option>

                        <option value=":10">:10</option>
                        <option value=":11">:11</option>
                        <option value=":12">:12</option>
                        <option value=":13">:13</option>
                        <option value=":14">:14</option>
                        <option value=":15">:15</option>
                        <option value=":16">:16</option>
                        <option value=":17">:17</option>
                        <option value=":18">:18</option>
                        <option value=":19">:19</option>

                        <option value=":20">:20</option>
                        <option value=":21">:21</option>
                        <option value=":22">:22</option>
                        <option value=":23">:23</option>
                        <option value=":24">:24</option>
                        <option value=":25">:25</option>
                        <option value=":26">:26</option>
                        <option value=":27">:27</option>
                        <option value=":28">:28</option>
                        <option value=":29">:29</option>

                        <option value=":30">:30</option>
                        <option value=":31">:31</option>
                        <option value=":32">:32</option>
                        <option value=":33">:33</option>
                        <option value=":34">:34</option>
                        <option value=":35">:35</option>
                        <option value=":36">:36</option>
                        <option value=":37">:37</option>
                        <option value=":38">:38</option>
                        <option value=":39">:39</option>

                        <option value=":40">:40</option>
                        <option value=":41">:41</option>
                        <option value=":42">:42</option>
                        <option value=":43">:43</option>
                        <option value=":44">:44</option>
                        <option value=":45">:45</option>
                        <option value=":46">:46</option>
                        <option value=":47">:47</option>
                        <option value=":48">:48</option>
                        <option value=":49">:49</option>

                        <option value=":50">:50</option>
                        <option value=":51">:51</option>
                        <option value=":52">:52</option>
                        <option value=":53">:53</option>
                        <option value=":54">:54</option>
                        <option value=":55">:55</option>
                        <option value=":56">:56</option>
                        <option value=":57">:57</option>
                        <option value=":58">:58</option>
                        <option value=":59">:59</option>
                       
                    </select>
                </div>
            </div>
            <div class="tableRow">
                <div class="tableCell"><h5>TO</h5></div>
                <div class="tableCell ">
                    <select name="ddlToHour" id="ddlToHour" ng-model="event.ddlToHour" ng-change="updated()" ng-disabled="event.cbAllDayEvent">
                        <option value=""></option>
                        <option value="12AM">12AM</option>
                        <option value="1AM">1AM</option>
                        <option value="2AM">2AM</option>
                        <option value="3AM">3AM</option>
                        <option value="4AM">4AM</option>
                        <option value="5AM">5AM</option>
                        <option value="6AM">6AM</option>
                        <option value="7AM">7AM</option>
                        <option value="8AM">8AM</option>
                        <option value="9AM">9AM</option>
                        <option value="10AM">10AM</option>
                        <option value="11AM">11AM</option>
                        <option value="12PM">12PM</option>
                        <option value="1PM">1PM</option>
                        <option value="2PM">2PM</option>
                        <option value="3PM">3PM</option>
                        <option value="4PM">4PM</option>
                        <option value="5PM">5PM</option>
                        <option value="6PM">6PM</option>
                        <option value="7PM">7PM</option>
                        <option value="8PM">8PM</option>
                        <option value="9PM">9PM</option>
                        <option value="10PM">10PM</option>
                        <option value="11PM">11PM</option>

                    </select>
                </div>
                <div class="tableCell">
                    <select name="ddlToMinute" id="ddlToMinute" ng-model="event.ddlToMinute" ng-change="updated()" ng-disabled="event.cbAllDayEvent">
                        <option value=""></option>
                        <option value=":00">:00</option>
                        <option value=":01">:01</option>
                        <option value=":02">:02</option>
                        <option value=":03">:03</option>
                        <option value=":04">:04</option>
                        <option value=":05">:05</option>
                        <option value=":06">:06</option>
                        <option value=":07">:07</option>
                        <option value=":08">:08</option>
                        <option value=":09">:09</option>

                        <option value=":10">:10</option>
                        <option value=":11">:11</option>
                        <option value=":12">:12</option>
                        <option value=":13">:13</option>
                        <option value=":14">:14</option>
                        <option value=":15">:15</option>
                        <option value=":16">:16</option>
                        <option value=":17">:17</option>
                        <option value=":18">:18</option>
                        <option value=":19">:19</option>

                        <option value=":20">:20</option>
                        <option value=":21">:21</option>
                        <option value=":22">:22</option>
                        <option value=":23">:23</option>
                        <option value=":24">:24</option>
                        <option value=":25">:25</option>
                        <option value=":26">:26</option>
                        <option value=":27">:27</option>
                        <option value=":28">:28</option>
                        <option value=":29">:29</option>

                        <option value=":30">:30</option>
                        <option value=":31">:31</option>
                        <option value=":32">:32</option>
                        <option value=":33">:33</option>
                        <option value=":34">:34</option>
                        <option value=":35">:35</option>
                        <option value=":36">:36</option>
                        <option value=":37">:37</option>
                        <option value=":38">:38</option>
                        <option value=":39">:39</option>

                        <option value=":40">:40</option>
                        <option value=":41">:41</option>
                        <option value=":42">:42</option>
                        <option value=":43">:43</option>
                        <option value=":44">:44</option>
                        <option value=":45">:45</option>
                        <option value=":46">:46</option>
                        <option value=":47">:47</option>
                        <option value=":48">:48</option>
                        <option value=":49">:49</option>

                        <option value=":50">:50</option>
                        <option value=":51">:51</option>
                        <option value=":52">:52</option>
                        <option value=":53">:53</option>
                        <option value=":54">:54</option>
                        <option value=":55">:55</option>
                        <option value=":56">:56</option>
                        <option value=":57">:57</option>
                        <option value=":58">:58</option>
                        <option value=":59">:59</option>

                    </select>
                </div>
            </div>
        </div>
    </div>



    <br />
    <br />
    <br />
    <p ng-bind="info"></p>
</div>