<?xml version="1.0"?>
<!--
Umbraco examine is an extensible indexer and search engine.
This configuration file can be extended to create your own index sets.
Index/Search providers can be defined in the UmbracoSettings.config

More information and documentation can be found on GitHub: https://github.com/Shazwazza/Examine/
-->
<ExamineLuceneIndexSets>
  <!-- The internal index set used by Umbraco back-office - DO NOT REMOVE -->
  <IndexSet SetName="InternalIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/Internal/"/>

  <!--
  <IndexSet SetName="ExternalIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/External/">
    <ExcludeNodeTypes>
      <add Name="dataLayer" />
      <add Name="authors" />
      <add Name="author" />
      <add Name="bannerlinks" />
      <add Name="internalBannerlink" />
      <add Name="externalBannerlink" />
      <add Name="chapterAffiliation" />
      <add Name="chapter" />
      <add Name="eventTypes" />
      <add Name="eventType" />
      <add Name="quicklinks" />
      <add Name="internalQuicklink" />
      <add Name="externalQuicklink" />
      <add Name="rotatingBanners" />
      <add Name="banner" />
      <add Name="sponsors" />
      <add Name="sponsor" />
      <add Name="tags" />
      <add Name="tag" />
      <add Name="errors" />
      <add Name="errorMessage" />
      <add Name="corrected" />
      <add Name="ignore" />
      <add Name="toAddress" />
    </ExcludeNodeTypes>
  </IndexSet>
  <IndexSet SetName="InternalMemberIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/InternalMember/">
    <IndexAttributeFields>
      <add Name="id" />
      <add Name="nodeName"/>
      <add Name="updateDate" />
      <add Name="writerName" />
      <add Name="loginName" />
      <add Name="email" />
      <add Name="nodeTypeAlias" />
    </IndexAttributeFields>
  </IndexSet>
  

   ======================CUSTOM INDEX SETS ======================== -->
  <!--
  <IndexSet SetName="BlogIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/Blog/" IndexParentId="1075">
    <IndexAttributeFields>
      <add Name="id" />
      <add Name="nodeName"/>
    </IndexAttributeFields>
    <IndexUserFields>
      <add Name="title" EnableSorting="true" />
      <add Name="summary" />
      <add Name="content" />
      <add Name="postDate" EnableSorting="true" />
    </IndexUserFields>
    <IncludeNodeTypes>
      <add Name="blogEntry" />
      <add Name="lockedBlogEntry" />
      <add Name="pdfEntry" />
      <add Name="lockedPdfEntry" />
      <add Name="urlEntry" />
    </IncludeNodeTypes>
    <ExcludeNodeTypes>
      <add Name="dataLayer" />
      <add Name="authors" />
      <add Name="author" />
      <add Name="bannerlinks" />
      <add Name="internalBannerlink" />
      <add Name="externalBannerlink" />
      <add Name="chapterAffiliation" />
      <add Name="chapter" />
      <add Name="eventTypes" />
      <add Name="eventType" />
      <add Name="quicklinks" />
      <add Name="internalQuicklink" />
      <add Name="externalQuicklink" />
      <add Name="rotatingBanners" />
      <add Name="banner" />
      <add Name="sponsors" />
      <add Name="sponsor" />
      <add Name="tags" />
      <add Name="tag" />
      <add Name="errors" />
      <add Name="errorMessage" />
      <add Name="corrected" />
      <add Name="ignore" />
      <add Name="toAddress" />
    </ExcludeNodeTypes>
  </IndexSet>
  <IndexSet SetName="NavigationIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/Navigation/">
    <IndexAttributeFields>
      <add Name="id" />
      <add Name="nodeName" EnableSorting="true"/>
      <add Name="sortOrder" Type="INT" EnableSorting="true"/>
    </IndexAttributeFields>
    <IndexUserFields>
      <add Name="showInEyebrowNavigation" />
      <add Name="showInNavigation" />
      <add Name="showInMegamenu" />
      <add Name="allowInSideNav" />
      <add Name="showInFooter" />
    </IndexUserFields>
    <IncludeNodeTypes>
    </IncludeNodeTypes>
    <ExcludeNodeTypes>
      <add Name="dataLayer" />
      <add Name="authors" />
      <add Name="author" />
      <add Name="bannerlinks" />
      <add Name="internalBannerlink" />
      <add Name="externalBannerlink" />
      <add Name="chapterAffiliation" />
      <add Name="chapter" />
      <add Name="eventTypes" />
      <add Name="eventType" />
      <add Name="quicklinks" />
      <add Name="internalQuicklink" />
      <add Name="externalQuicklink" />
      <add Name="rotatingBanners" />
      <add Name="banner" />
      <add Name="sponsors" />
      <add Name="sponsor" />
      <add Name="tags" />
      <add Name="tag" />
      <add Name="errors" />
      <add Name="errorMessage" />
      <add Name="corrected" />
      <add Name="ignore" />
      <add Name="toAddress" />
    </ExcludeNodeTypes>
  </IndexSet>

  
  <IndexSet SetName="NAHUvisionIndexSet" IndexPath="~/App_Data/TEMP/ExamineIndexes/NAHUvision/">
    <IndexAttributeFields>
      <add Name="id" />
      <add Name="nodeName"/>
    </IndexAttributeFields>
    <IndexUserFields>
      <add Name="title" />
      <add Name="description" />
    </IndexUserFields>
    <IncludeNodeTypes>
      <add Name="video" />
    </IncludeNodeTypes>
    <ExcludeNodeTypes />
  </IndexSet> -->
  
</ExamineLuceneIndexSets>