<?xml version="1.0" encoding="utf-8"?>
<metablogapi>
  <channel>
    <name>Kelly Loussedes</name>
    <user>16</user>
    <startNode>-1</startNode>
    <fullTree>False</fullTree>
    <documentTypeAlias>home</documentTypeAlias>
    <fields>
      <categories>
      </categories>
      <description>
      </description>
      <excerpt>
      </excerpt>
    </fields>
    <mediaObjectSupport enabled="True" folderId="-1" mediaTypeAlias="Image" mediaTypeFileProperty="umbracoFile" />
  </channel>
  <channel>
    <name>Daniel Parker</name>
    <user>19</user>
    <startNode>-1</startNode>
    <fullTree>False</fullTree>
    <documentTypeAlias>home</documentTypeAlias>
    <fields>
      <categories>
      </categories>
      <description>
      </description>
      <excerpt>
      </excerpt>
    </fields>
    <mediaObjectSupport enabled="True" folderId="-1" mediaTypeAlias="Image" mediaTypeFileProperty="umbracoFile" />
  </channel>
</metablogapi>